#root {
  max-width: 1780px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.category-btn {
  display: flex;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: left;
  align-items: center;
  gap: 10px;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.category-btn:hover {
  background-color: #142043;
}

.category-btn.is-selected {
  background-color: #142043;
}
.category-btn span {
  display: inline-block;
  font-size: 16px;
  color: #D6E0FF;

}

/* width */
.primary-sidebar::-webkit-scrollbar, .related-videos::-webkit-scrollbar {
  display : none !important;
}

/* Track */
.primary-sidebar::-webkit-scrollbar-track, .related-videos::-webkit-scrollbar-track {
  background: #f1f1f1;
  display : none !important;
}

/* Handle */
.primary-sidebar::-webkit-scrollbar-thumb, .related-videos::-webkit-scrollbar-thumb {
  background: #888;
  display : none !important;
}

/* Handle on hover */
.primary-sidebar::-webkit-scrollbar-thumb:hover, .related-videos::-webkit-scrollbar-thumb:hover {
  background: #555;
  display : none !important;
}